.Bar {
  height: 100%;
  width: 100%;
  display: flex;
}

.Bar--vertical {
  flex-direction: column;
}

.Bar__group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Bar__group--start {
  flex: 1;
  justify-content: flex-start;
}

.Bar__group--end {
  flex: 1;
  justify-content: flex-end;
}
