.Board {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.Board__output {
  height: 7.5em;
}

.Board__main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Board__navbar {
  flex-shrink: 0;
}

.Board__name {
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #444;
  color: #fff;
}

.Board__buttons {
  flex: 1;
  overflow: auto;
}
