/* TODO: duplicate code with ClearButton */
.BackspaceButton {
  padding: 0.5em;
  line-height: 0;
  transition: background-color 0.25s;
  border-radius: 4px;
  color: #444;
}

.BackspaceButton:hover,
.BackspaceButton:focus {
  background: rgba(0, 0, 0, 0.15);
}
