.Cell {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - (var(--space-unit, 8px) * 2));
  margin: var(--space-unit, 8px);
  border-radius: 2px;
  /* min width solves rendering issues with iOS */
  min-width: 0;
}
