.BoardButton {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 4px;
  border-radius: 4px;
  border: 2px solid transparent;
  overflow: hidden;
}

/* overlay effect */
.BoardButton::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
  opacity: 0;
}

.BoardButton:hover::after,
.BoardButton:focus::after {
  opacity: 0.8;
}

.BoardButton:active::after {
  opacity: 1;
}

.BoardButton--folder::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 16px solid #000;
  transform-origin: center right;
  transform: translateY(-16px) rotate(-45deg);
  z-index: 1;
}
